<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REFMLDEV-03574\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;password=Pencil$1492;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REFMLDEV-03574\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="HMMSEntitiesDB" connectionString="metadata=res://*/HMMSModel.csdl|res://*/HMMSModel.ssdl|res://*/HMMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=REFMLDEV-03574\MSSQLSERVER01;initial catalog=HMMS;persist security info=True;user id=WTMS;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ReadDir" value="C:\HMMSLoad" />
    <add key="ErrorFolder" value="C:\HMMSLoad\Error" />
    <add key="ProcessFolder" value="C:\HMMSLoad\Processed" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BatFileName" value="C:\Users\Larry Dunn\source\repos\HMMSLoadExcelFiles\HMMS_ExportCSV.bat" />
  </appSettings>
</configuration>